body{
    margin: 0;
}

h1,h2,h3,h4,h5,h6,
  *,
  *::after,
  *::before
  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

a, a:hover, a:visited{
    color: $default_color;
    text-decoration: none;
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}